body {
  background-color: whitesmoke;
}

.header {
  /* Stick to the top 
  position: sticky;*/
  color: black;
  height: 5vw;
  width: 95vw;
  text-align: center;
  font-size: 4vw;
  font-family: fantasy;
}

.hero {
  position: relative;
  left: 50%;
  right: 50%;
  height: 30vw;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;
}
.avatar {
  /*avatar circle*/
  background-color: grey;
  border-radius: 50%; /*make avatar a circle not square*/
  height: 20vw; 
  width: 20vw;
  display: flex;
  position: relative;
  top: -10vw;
  left: 40%;
  border: 7px solid white;
}


.avatar__letters {
  /* Center the content */
  position: relative;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  color: white;
}

.about {
  font-size: 2.5vw;
  padding: 2rem;
  text-align: center;
}

.media{
  display: flex;
  font-size: 7vw;
  justify-content: space-evenly;
  color: black;
}

